/* ## GABRIELA ## */
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Colores */
.fucsia{
  background-color: #C23C5E;
}
.bordo{
  background-color: #712B42;
}
.negro{
  background-color: #0C0910;
}
.beige{
  background-color: #DAC9C1;
}
.marron{
  background-color: #726765;
}














































































































































































/* ## MARIELA ## */