<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs')%>
<body>

    <%- include('./partials/header.ejs')%>
    
    <div class="container-fluid">
        <div class="row" id="row-banner">
            <div class="col-12">
            <img  src='/img/fotos-vinos/banner.jpg' alt='banner' id="banner">
                
        </div>
            
  </div>
        
        
        
        
  <div class="container-fluid">  
            <h2 class="productos-h2">Bienvenido a Wine Store</h2>
            
            <h2 class="productos-h2">Vinos más vendidos</h2>
            
            
            <div class='row'id='home'> 
                
                <div  class='col-sm-12 col-md-3 col-lg-3'>
                    
                </div> 
                
                
                <div  class='col-sm-12 col-md-3 col-lg-3'>
                    <article class='productos' >
                        
                        <img  src='/img/fotos-vinos/CabernetSauvenionMerlot.jpg' alt='vino2' class='foto-producto'>
                        
                        <h2 class='price' >$254.230</h2>
                        
                        <p class='descuento'> <br></p>
                        
                        <p class='tituloV'>Vino Malbec-2017-Santa Julia-</p>
                        <p>Agregar al carrito<i class="fas fa-cart-plus"></i></p>
                        <a href='/products/detalleProducto'><p> Saber más<i class="fas fa-hand-point-right"></i> </p></a>
                        
                    </article>
                </div> 
                
                
                
                
                <div  class='col-sm-12 col-md-3 col-lg-3'>
                    <article class='productos' >
                        <img  src='/img/fotos-vinos/CabernetSauvenion.jpg' alt='vino1' class='foto-producto'>
                        <h2 class='price' >$150.970</h2>
                        <p class='descuento'>10% OFF</p>
                        <p class='tituloV'>Vino Cabernet Sauvignon-2015-Omnton-</p>
                        
                        <p>Agregar al carrito<i class="fas fa-cart-plus"></i></p>
                        
                        <a href='/products/detalleProducto'><p> Saber más<i class="fas fa-hand-point-right"></i> </p></a>
                        
                    </article>     
                </div>  
                
                
                
            </div>    
                
            
     </div>
        
        
        <%- include('./partials/footer.ejs')%>
        
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        
    </body>
    
    </html>
    
    
    
    
    
    
    
    
    