<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs')%>

<body>

    <div class='container-fluid' id='index-back'>
        <div class='row' id='div-arriba'>
            <div class='col-12'>
                <h1 id='arriba' style='color:#0C0910'>Bienvenido a Wine Store</h1>
            </div>
        </div>
        <div class='row' id='div-abajo'>
            <div class='col-6'>
                <img src="img/copa1.jpg" alt="copa" class='copa'>
            </div>
            <div class='col-6' id='form'>
                <h4 class='h4-index'>¿Es usted mayor de edad?</h4>
                <form>
                    <p class='btnS'><button type="button" class="btn btn-primary" value='S'>Si</button></p>
                    <p class='btnN'><button type="button" class="btn btn-primary" value='N'>No</button></p>
                </form>
            </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs')%>

</body>

</html>