<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Wine Store</title>
</head>

<body class="bg-grey">

    <!-- Barra Unica de Descripcion de Productos -->
    <div class="barraDescripcionProducto">
        <img class="logoDescripcionProducto" src="img/logo.png">
    </div>

    <!--carga del Producto  -->
    <div class="bloqueDescripcionProducto">
        <div class="tituloDescripcionProducto">Alta de Productos</div>
        <div class="bloqueProductoCompleto">
            <form class="formularioAlta" action="post">
                <p><label for="">Código del Producto</label>/t <input type="text"></p>
                <p><label for="">Descripción</label>/t <input type="text"></p>
                <p><label for="">Cantidad</label>/t <input type="text"></p>
                <p><label for="">Precio</label>/t <input type="text"></p>
                <div class="botonProducto1">
                    <a href="#" class="btn-light bdp-s">
                        Agregar
                    </a>
                </div>
                <div class="botonProducto2">
                    <a href="#" class="btn-light bdp-s">
                        Ir a la Carga de Productos
                    </a>
                </div>

            </form>
        </div>
    </div>



    <!-- Footer -->
    <div class="footer">
        <div class="f-bloque-iz">
            SEGUINOS EN &nbsp
            <img src="iconos/facebookblanco64.png" class="iconoFooter">
            <img src="iconos/instagramblanco64.png" class="iconoFooter">

        </div>
        <div class="f-bloque-de">
            Derechos Reservados a Wine Store -2020-
        </div>
    </div>

</body>

</html>