<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Wine Store</title>
</head>

<body class="bg-grey">

    <!--   ## Bloque Barra Principal  -->
    <div class="bloqueBarraPrincipal">
        <div class="barraPrincipal">
            <ul class="barraIzquierda">
                <li class="li-barra">
                    <img class="logo" src="img/logo.png">
                </li>
                <li class="li-barra">
                    <a href="home.html">HOME</a>
                </li>
                <li class="li-barra">
                    <a href="productos.html">PRODUCTOS</a>
                </li>
                <li class="li-barra">
                    <a href="#formulario-contacto">CONTACTO</a>
                </li>
            </ul>
            <ul class="barraDerecha">
                <li class="li-barra">
                    <a href="ingreso.html">INGRESAR</a></li>
                <li class="li-barra">
                    <a href="registro.html">REGISTRARSE</a>
                </li>
                <li class="li-barra">
                    <img class="carrito" src="img/carrito.jpg">
                </li>
            </ul>
        </div>
    </div>

    <!-- Grilla de Productos -->
    <div class="bloqueGrillaProductos">
        <div class="areaDeProductos">

            <!-- Nuevo -->
            <div class="areaDeProducto">
                <div class="cajaProducto">
                    <div class="producto">

                    </div>
                    <div class="resumenInfoBlock">
                        <div class="resumenInfoLinea1">
                            <div class="nombreLinea1">
                                Nombre
                            </div>
                            <div class="precioLinea2">
                                Pre
                            </div>
                        </div>
                        <div class="areaBtnLinea2">
                            <a href="#" class="btn-light btnSizeLinea2">
                                    Agregar
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin Nuevo -->

            <!-- Nuevo -->
            <div class="areaDeProducto">
                <div class="cajaProducto">
                    <div class="producto">

                    </div>
                    <div class="resumenInfoBlock">
                        <div class="resumenInfoLinea1">
                            <div class="nombreLinea1">
                                Nombre
                            </div>
                            <div class="precioLinea2">
                                Pre
                            </div>
                        </div>
                        <div class="areaBtnLinea2">
                            <a href="#" class="btn-light btnSizeLinea2">
                                    Agregar
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin Nuevo -->

            <!-- Nuevo -->
            <div class="areaDeProducto">
                <div class="cajaProducto">
                    <div class="producto">

                    </div>
                    <div class="resumenInfoBlock">
                        <div class="resumenInfoLinea1">
                            <div class="nombreLinea1">
                                Nombre
                            </div>
                            <div class="precioLinea2">
                                Pre
                            </div>
                        </div>
                        <div class="areaBtnLinea2">
                            <a href="#" class="btn-light btnSizeLinea2">
                                    Agregar
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin Nuevo -->

            <!-- Nuevo -->
            <div class="areaDeProducto">
                <div class="cajaProducto">
                    <div class="producto">

                    </div>
                    <div class="resumenInfoBlock">
                        <div class="resumenInfoLinea1">
                            <div class="nombreLinea1">
                                Nombre
                            </div>
                            <div class="precioLinea2">
                                Pre
                            </div>
                        </div>
                        <div class="areaBtnLinea2">
                            <a href="#" class="btn-light btnSizeLinea2">
                                    Agregar
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin Nuevo -->
            <!-- Nuevo -->
            <div class="areaDeProducto">
                <div class="cajaProducto">
                    <div class="producto">

                    </div>
                    <div class="resumenInfoBlock">
                        <div class="resumenInfoLinea1">
                            <div class="nombreLinea1">
                                Nombre
                            </div>
                            <div class="precioLinea2">
                                Pre
                            </div>
                        </div>
                        <div class="areaBtnLinea2">
                            <a href="#" class="btn-light btnSizeLinea2">
                    Agregar
                </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin Nuevo -->
            <!-- Nuevo -->
            <div class="areaDeProducto">
                <div class="cajaProducto">
                    <div class="producto">

                    </div>
                    <div class="resumenInfoBlock">
                        <div class="resumenInfoLinea1">
                            <div class="nombreLinea1">
                                Nombre
                            </div>
                            <div class="precioLinea2">
                                Pre
                            </div>
                        </div>
                        <div class="areaBtnLinea2">
                            <a href="#" class="btn-light btnSizeLinea2">
                    Agregar
                </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin Nuevo -->
            <!-- Nuevo -->
            <div class="areaDeProducto">
                <div class="cajaProducto">
                    <div class="producto">

                    </div>
                    <div class="resumenInfoBlock">
                        <div class="resumenInfoLinea1">
                            <div class="nombreLinea1">
                                Nombre
                            </div>
                            <div class="precioLinea2">
                                Pre
                            </div>
                        </div>
                        <div class="areaBtnLinea2">
                            <a href="#" class="btn-light btnSizeLinea2">
                                    Agregar
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin Nuevo -->

            <!-- Nuevo -->
            <div class="areaDeProducto">
                <div class="cajaProducto">
                    <div class="producto">

                    </div>
                    <div class="resumenInfoBlock">
                        <div class="resumenInfoLinea1">
                            <div class="nombreLinea1">
                                Nombre
                            </div>
                            <div class="precioLinea2">
                                Pre
                            </div>
                        </div>
                        <div class="areaBtnLinea2">
                            <a href="#" class="btn-light btnSizeLinea2">
                                    Agregar
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin Nuevo -->

            <!-- Nuevo -->
            <div class="areaDeProducto">
                <div class="cajaProducto">
                    <div class="producto">

                    </div>
                    <div class="resumenInfoBlock">
                        <div class="resumenInfoLinea1">
                            <div class="nombreLinea1">
                                Nombre
                            </div>
                            <div class="precioLinea2">
                                Pre
                            </div>
                        </div>
                        <div class="areaBtnLinea2">
                            <a href="#" class="btn-light btnSizeLinea2">
                                    Agregar
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin Nuevo -->

            <!-- Nuevo -->
            <div class="areaDeProducto">
                <div class="cajaProducto">
                    <div class="producto">

                    </div>
                    <div class="resumenInfoBlock">
                        <div class="resumenInfoLinea1">
                            <div class="nombreLinea1">
                                Nombre
                            </div>
                            <div class="precioLinea2">
                                Pre
                            </div>
                        </div>
                        <div class="areaBtnLinea2">
                            <a href="#" class="btn-light btnSizeLinea2">
                                    Agregar
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin Nuevo -->

            <!-- Nuevo -->
            <div class="areaDeProducto">
                <div class="cajaProducto">
                    <div class="producto">

                    </div>
                    <div class="resumenInfoBlock">
                        <div class="resumenInfoLinea1">
                            <div class="nombreLinea1">
                                Nombre
                            </div>
                            <div class="precioLinea2">
                                Pre
                            </div>
                        </div>
                        <div class="areaBtnLinea2">
                            <a href="#" class="btn-light btnSizeLinea2">
                                    Agregar
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin Nuevo -->

            <!-- Nuevo -->
            <div class="areaDeProducto">
                <div class="cajaProducto">
                    <div class="producto">

                    </div>
                    <div class="resumenInfoBlock">
                        <div class="resumenInfoLinea1">
                            <div class="nombreLinea1">
                                Nombre
                            </div>
                            <div class="precioLinea2">
                                Pre
                            </div>
                        </div>
                        <div class="areaBtnLinea2">
                            <a href="#" class="btn-light btnSizeLinea2">
                                    Agregar
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin Nuevo -->

        </div>
    </div>

    <!-- Bloque 2 -->
    <div class="ir-al-carrito">
        <div class="iac-btn">
            <a href="#" class="btn-light iacb-f">
                Ir al carrito
            </a>
        </div>
    </div>

    <!-- Footer -->
    <div class="footer">
        <div class="f-bloque-iz">
            SEGUINOS EN &nbsp
            <img src="iconos/facebookblanco64.png" class="iconoFooter">
            <img src="iconos/instagramblanco64.png" class="iconoFooter">

        </div>
        <div class="f-bloque-de">
            Derechos Reservados a Wine Store -2020-
        </div>
    </div>

</body>

</html>