<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Wine Store</title>
</head>

<body class="body-home">
    <!--   ## Bloque Barra Principal  -->
    <div class="bloqueBarraPrincipal">
        <div class="barraPrincipal">
            <ul class="barraIzquierda">
                <li class="li-barra">
                    <img class="logo" src="img/logo.png">
                </li>
                <li class="li-barra">
                    <a href="home.html">HOME</a>
                </li>
                <li class="li-barra">
                    <a href="productos.html">PRODUCTOS</a>
                </li>
                <li class="li-barra">
                    <a href="#formulario-contacto">CONTACTO</a>
                </li>
            </ul>
            <ul class="barraDerecha">
                <li class="li-barra">
                    <a href="ingreso.html">INGRESAR</a></li>
                <li class="li-barra">
                    <a href="registro.html">REGISTRARSE</a>
                </li>
                <li class="li-barra">
                    <img class="carrito" src="img/carrito.jpg">
                </li>
            </ul>
        </div>
    </div>
    <!-- Fin Menu------------------------------------------------------------>

    <!-- Formulario de Registro -------------------------------------->
    <div class='box'>

        <div class='encabezado'>
            <h3>Registro de Contacto</h3>

            <p id='entrar'>¿Ya estás registrado? <a href='#'>Entrar aquí</a></p>

        </div>

        <form class="formRegistro" action=# method='post'>

            <p><input type='email' name='email' id='' placeholder="Email " required class='uno'></p>
            <p><input type='text' name='nombre' id='' placeholder="Apellido y Nombre " required class='uno'></p>
            <p><input type='text' name='DNI' id='' placeholder="DNI " required class='dos'></p>
            <p><input type='text' name='domicilio' id='CA' placeholder="Domicilio " required class='uno'></p>
            <p><input type='number' name='numero' id='N' placeholder="Número " required class='tres'><input type='text' name='localidad' id='Loc' placeholder="Localidad " class='tres'></p>
            <p><input type='number' name='codigo Postal' id='CA' placeholder="Código postal " required class='tres'><input type='text' name='provinicia' placeholder="Provincia " class='tres'></p>
            <p> <input type='password' name='contraseña' id='pass' placeholder="Contraseña " required class='tres'><input type='password' name='contraseña' id='pass' placeholder="Contraseña " required class='tres'></p>
            <p><button type='submit' class='registro'>Registrarse</button></p>

        </form>
    </div>

    <!-- Inicio Fotter---------------------------------------------------------->
    <div class="footer " class="footer ">
        <div class="f-bloque-iz ">
            SEGUINOS EN
            <img class="iconoFooter " src="iconos/facebookblanco64.png ">
            <img class="iconoFooter " src="iconos/instagramblanco64.png ">
        </div>
        <div class="f-bloque-de ">
            Derechos Reservados a Wine Store -2020-
        </div>
    </div>
    <!-- Fin Fotter-------------------------------------------------------------->

</body>

</html>